
<!--/ View table page -->

  <div class="docs-primary-header component-page-header">
    <h1>Employees List (UnGrid View)</h1>
  </div>

  <div class="container-fluid">
    <div class="col-lg-12 col-md-12">
      <div class="row my-4 d-flex justify-content-center">
        <div class="col-lg-3 col-md-3">
          <mat-form-field class="width-full input-label">
            <mat-select placeholder="Working Location" class="f-14">
            <mat-option>--Select--</mat-option>
            <mat-option value="option1">Chennai</mat-option>
            <mat-option value="option2">Delhi</mat-option>
            <mat-option value="option3">Location 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2">
          <mat-form-field class="width-full input-label">
            <input matInput [matDatepicker]="JDFrom" class="f-14" placeholder="Joining Date From">
            <mat-datepicker-toggle matSuffix [for]="JDFrom"></mat-datepicker-toggle>
            <mat-datepicker #JDFrom></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2">
          <mat-form-field class="width-full input-label">
            <input matInput [matDatepicker]="JDTo" class="f-14" placeholder="Joining Date To">
            <mat-datepicker-toggle matSuffix [for]="JDTo"></mat-datepicker-toggle>
            <mat-datepicker #JDTo></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2">
          <mat-form-field class="width-full input-label">
            <input matInput placeholder="Employee Code" class="f-14" type="number">
          </mat-form-field>
        </div>
        <div class="col-lg-1 col-md-1">
          <button mat-icon-button color="warn" type="submit"class="mt-2">
            <mat-icon aria-label="Search Now">search</mat-icon>
          </button>
        </div>
      </div> 
    </div><!--/col-lg-12 col-md-12-->
    
    <div class="panel">
      <div class="col-lg-12 col-md-12">        
        <div class="box-body">
          <div class="row">
            <div class="col-lg-4 col-xl-6"> 
              <div class="input-group ht-41">
                <div class="input-group-prepend">
                  <span class="input-group-text input-group-empty">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
                <input type="text" class="form-control text-box-empty" 
                  placeholder="Global Filter (Type Employee Name, Id, Department..)"
                  >
              </div> 
            </div>
            <div class="col-lg-8 col-xl-6 d-flex align-items-center justify-content-end"> 
              <div class="">
                <a class="dropdown-toggle empty-btn" href="#" id="ExportData" data-toggle="dropdown">
                  <i class="fa fa-download"></i> Export Data
                </a>
                <div class="dropdown-menu" aria-labelledby="ExportData">
                  <a class="dropdown-item" href="#"><i class="far fa-file-pdf"></i> Export as PDF</a>
                  <a class="dropdown-item" href="#"><i class="far fa-file-excel"></i> Export as Excel</a>
                  <a class="dropdown-item" href="#"><i class="far fa-file-word"></i> Export as Word</a>
                </div>
                <button mat-icon-button color="warn" matTooltip="Delete" 
                        [matTooltipClass]="'custom-tip'" tooltip-position="above">
                  <i class="material-icons font20">delete</i>
                </button>
                <button mat-icon-button color="warn" matTooltip="Add New Row" 
                        [matTooltipClass]="'custom-tip'" tooltip-position="above">
                  <i class="fas fa-plus"></i>
                </button>
                <div class="btn-group">
                  <a mat-icon-button color="warn" [routerLink]="['/ViewTable']" matTooltip="Table View" 
                        [matTooltipClass]="'custom-tip'" tooltip-position="above">
                    <i class="fa fa-table"></i>
                  </a>
                  <a mat-mini-fab color="warn" [routerLink]="['/UngridList']" matTooltip="List View Selected" 
                        [matTooltipClass]="'custom-tip'" tooltip-position="above">
                    <i class="fa fa-th-large"></i>
                  </a>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--/ UnGrid start-->
      <div class="col-lg-12 col-md-12">

        <div class="row my-3">
          <div class="col-lg-4 col-md-4"> 
            <div class="user-box bg-white mat-elevation-z1">
              <div class="user-box-header p-3 border-bottom">
                <div class="d-flex justify-content-between width-full align-items-center">
                  <div class="mr-auto p-2">
                    <mat-card-title class="user-box-title">Shiba Inu</mat-card-title>
                    <mat-card-subtitle class="mb-0">Employee Id : 54682</mat-card-subtitle>
                  </div>
                  <button mat-icon-button color="warn" class="mr-1 mb-1">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                  <div class="custom-control custom-checkbox mr-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Select</label>
                  </div> 
                </div>
              </div>
              <div class="user-box-content p-3">
                <div class="row">
                  <div class="col-lg-3 col-md-12"> 
                    <img src="assets/images/users/icon-female.png" class="emp-full-image"> 
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div>
                      <div class="f-14">
                        <span class="text-muted">Department :</span> <span>Software Engineer</span>
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Designation :</span> Information Technology
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Manager :</span> John Doe
                      </div> 
                      <div class="f-14">
                        <span class="text-muted">Email :</span> Johndoe@gmail.com
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Phone No :</span> 9632587410
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Address :</span> Flat S, XXX Street, YYYY Nagar, YYYY
                      </div>
                      <div class="f-14">
                        <span class="text-muted">City :</span> Chennai
                      </div>
                      <div class="f-14">
                        <span class="text-muted">State :</span> TamilNadu
                      </div>
                    </div>
                    <div class="d-flex justify-content-end my-2">
                      <button class="btn btn-outline-primary btn-sm mr-1" type="button">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <button class="btn btn-outline-info btn-sm mr-1" type="button">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button class="btn btn-outline-danger btn-sm mr-1" type="button">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                      <button class="btn btn-outline-warning btn-sm" type="button">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>     
              </div>
            </div>
          </div> <!--/col-lg-4 -->
          <div class="col-lg-4 col-md-4"> 
            <div class="user-box bg-white mat-elevation-z1">
              <div class="user-box-header p-3 border-bottom">
                <div class="d-flex justify-content-between width-full align-items-center">
                  <div class="mr-auto p-2">
                    <mat-card-title class="user-box-title">Shiba Inu</mat-card-title>
                    <mat-card-subtitle class="mb-0">Employee Id : 54682</mat-card-subtitle>
                  </div>                    
                  <button mat-icon-button color="warn" class="mr-1 mb-1">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                  <div class="custom-control custom-checkbox mr-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Select</label>
                  </div> 
                </div>
              </div>
              <div class="user-box-content p-3">
                <div class="row">
                  <div class="col-lg-3 col-md-12"> 
                    <img src="assets/images/users/icon-male.png" class="emp-full-image"> 
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div>
                      <div class="f-14">
                        <span class="text-muted">Department :</span> <span>Software Engineer</span>
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Designation :</span> Information Technology
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Manager :</span> John Doe
                      </div> 
                      <div class="f-14">
                        <span class="text-muted">Email :</span> Johndoe@gmail.com
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Phone No :</span> 9632587410
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Address :</span> Flat S, XXX Street, YYYY Nagar, YYYY
                      </div>
                      <div class="f-14">
                        <span class="text-muted">City :</span> Chennai
                      </div>
                      <div class="f-14">
                        <span class="text-muted">State :</span> TamilNadu
                      </div>
                    </div>
                    <div class="d-flex justify-content-end my-2">
                      <button class="btn btn-outline-primary btn-sm mr-1" type="button">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <button class="btn btn-outline-info btn-sm mr-1" type="button">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button class="btn btn-outline-danger btn-sm mr-1" type="button">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                      <button class="btn btn-outline-warning btn-sm" type="button">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>     
              </div>
            </div>
          </div> <!--/col-lg-4 -->
          <div class="col-lg-4 col-md-4"> 
            <div class="user-box bg-white mat-elevation-z1">
              <div class="user-box-header p-3 border-bottom">
                <div class="d-flex justify-content-between width-full align-items-center">
                  <div class="mr-auto p-2">
                    <mat-card-title class="user-box-title">Shiba Inu</mat-card-title>
                    <mat-card-subtitle class="mb-0">Employee Id : 54682</mat-card-subtitle>
                  </div>                    
                  <button mat-icon-button color="warn" class="mr-1 mb-1">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                  <div class="custom-control custom-checkbox mr-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">Select</label>
                  </div> 
                </div>
              </div>
              <div class="user-box-content p-3">
                <div class="row">
                  <div class="col-lg-3 col-md-12"> 
                    <img src="assets/images/users/user2.jpg" class="emp-full-image"> 
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div>
                      <div class="f-14">
                        <span class="text-muted">Department :</span> <span>Software Engineer</span>
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Designation :</span> Information Technology
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Manager :</span> John Doe
                      </div> 
                      <div class="f-14">
                        <span class="text-muted">Email :</span> Johndoe@gmail.com
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Phone No :</span> 9632587410
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Address :</span> Flat S, XXX Street, YYYY Nagar, YYYY
                      </div>
                      <div class="f-14">
                        <span class="text-muted">City :</span> Chennai
                      </div>
                      <div class="f-14">
                        <span class="text-muted">State :</span> TamilNadu
                      </div>
                    </div>
                    <div class="d-flex justify-content-end my-2">
                      <button class="btn btn-outline-primary btn-sm mr-1" type="button">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <button class="btn btn-outline-info btn-sm mr-1" type="button">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button class="btn btn-outline-danger btn-sm mr-1" type="button">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                      <button class="btn btn-outline-warning btn-sm" type="button">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>     
              </div>
            </div>
          </div> <!--/col-lg-4 --> 
        </div> <!--/row-->

        <div class="row my-3">
          <div class="col-lg-4 col-md-4"> 
            <div class="user-box bg-white mat-elevation-z1">
              <div class="user-box-header p-3 border-bottom">
                <div class="d-flex justify-content-between width-full align-items-center">
                  <div class="mr-auto p-2">
                    <mat-card-title class="user-box-title">Shiba Inu</mat-card-title>
                    <mat-card-subtitle class="mb-0">Employee Id : 54682</mat-card-subtitle>
                  </div>                    
                  <button mat-icon-button color="warn" class="mr-1 mb-1">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                  <div class="custom-control custom-checkbox mr-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Select</label>
                  </div> 
                </div>
              </div>
              <div class="user-box-content p-3">
                <div class="row">
                  <div class="col-lg-3 col-md-12"> 
                    <img src="assets/images/users/user5.jpg" class="emp-full-image"> 
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div>
                      <div class="f-14">
                        <span class="text-muted">Department :</span> <span>Software Engineer</span>
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Designation :</span> Information Technology
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Manager :</span> John Doe
                      </div> 
                      <div class="f-14">
                        <span class="text-muted">Email :</span> Johndoe@gmail.com
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Phone No :</span> 9632587410
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Address :</span> Flat S, XXX Street, YYYY Nagar, YYYY
                      </div>
                      <div class="f-14">
                        <span class="text-muted">City :</span> Chennai
                      </div>
                      <div class="f-14">
                        <span class="text-muted">State :</span> TamilNadu
                      </div>
                    </div>
                    <div class="d-flex justify-content-end my-2">
                      <button class="btn btn-outline-primary btn-sm mr-1" type="button">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <button class="btn btn-outline-info btn-sm mr-1" type="button">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button class="btn btn-outline-danger btn-sm mr-1" type="button">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                      <button class="btn btn-outline-warning btn-sm" type="button">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>     
              </div>
            </div>
          </div> <!--/col-lg-4 -->
          <div class="col-lg-4 col-md-4"> 
            <div class="user-box bg-white mat-elevation-z1">
              <div class="user-box-header p-3 border-bottom">
                <div class="d-flex justify-content-between width-full align-items-center">
                  <div class="mr-auto p-2">
                    <mat-card-title class="user-box-title">Shiba Inu</mat-card-title>
                    <mat-card-subtitle class="mb-0">Employee Id : 54682</mat-card-subtitle>
                  </div>                    
                  <button mat-icon-button color="warn" class="mr-1 mb-1">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                  <div class="custom-control custom-checkbox mr-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">Select</label>
                  </div> 
                </div>
              </div>
              <div class="user-box-content p-3">
                <div class="row">
                  <div class="col-lg-3 col-md-12"> 
                    <img src="assets/images/users/user6.jpg" class="emp-full-image"> 
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div>
                      <div class="f-14">
                        <span class="text-muted">Department :</span> <span>Software Engineer</span>
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Designation :</span> Information Technology
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Manager :</span> John Doe
                      </div> 
                      <div class="f-14">
                        <span class="text-muted">Email :</span> Johndoe@gmail.com
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Phone No :</span> 9632587410
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Address :</span> Flat S, XXX Street, YYYY Nagar, YYYY
                      </div>
                      <div class="f-14">
                        <span class="text-muted">City :</span> Chennai
                      </div>
                      <div class="f-14">
                        <span class="text-muted">State :</span> TamilNadu
                      </div>
                    </div>
                    <div class="d-flex justify-content-end my-2">
                      <button class="btn btn-outline-primary btn-sm mr-1" type="button">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <button class="btn btn-outline-info btn-sm mr-1" type="button">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button class="btn btn-outline-danger btn-sm mr-1" type="button">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                      <button class="btn btn-outline-warning btn-sm" type="button">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>     
              </div>
            </div>
          </div> <!--/col-lg-4 -->
          <div class="col-lg-4 col-md-4"> 
            <div class="user-box bg-white mat-elevation-z1">
              <div class="user-box-header p-3 border-bottom">
                <div class="d-flex justify-content-between width-full align-items-center">
                  <div class="mr-auto p-2">
                    <mat-card-title class="user-box-title">Shiba Inu</mat-card-title>
                    <mat-card-subtitle class="mb-0">Employee Id : 54682</mat-card-subtitle>
                  </div>                    
                  <button mat-icon-button color="warn" class="mr-1 mb-1">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                  <div class="custom-control custom-checkbox mr-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">Select</label>
                  </div> 
                </div>
              </div>
              <div class="user-box-content p-3">
                <div class="row">
                  <div class="col-lg-3 col-md-12"> 
                    <img src="assets/images/users/user8.jpg" class="emp-full-image"> 
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div>
                      <div class="f-14">
                        <span class="text-muted">Department :</span> <span>Software Engineer</span>
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Designation :</span> Information Technology
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Manager :</span> John Doe
                      </div> 
                      <div class="f-14">
                        <span class="text-muted">Email :</span> Johndoe@gmail.com
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Phone No :</span> 9632587410
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Address :</span> Flat S, XXX Street, YYYY Nagar, YYYY
                      </div>
                      <div class="f-14">
                        <span class="text-muted">City :</span> Chennai
                      </div>
                      <div class="f-14">
                        <span class="text-muted">State :</span> TamilNadu
                      </div>
                    </div>
                    <div class="d-flex justify-content-end my-2">
                      <button class="btn btn-outline-primary btn-sm mr-1" type="button">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <button class="btn btn-outline-info btn-sm mr-1" type="button">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button class="btn btn-outline-danger btn-sm mr-1" type="button">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                      <button class="btn btn-outline-warning btn-sm" type="button">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>     
              </div>
            </div>
          </div> <!--/col-lg-4 --> 
        </div> <!--/row-->

        <div class="row my-3">
          <div class="col-lg-4 col-md-4"> 
            <div class="user-box bg-white mat-elevation-z1">
              <div class="user-box-header p-3 border-bottom">
                <div class="d-flex justify-content-between width-full align-items-center">
                  <div class="mr-auto p-2">
                    <mat-card-title class="user-box-title">Ryder</mat-card-title>
                    <mat-card-subtitle class="mb-0">Employee Id : 54682</mat-card-subtitle>
                  </div>                    
                  <button mat-icon-button color="warn" class="mr-1 mb-1">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                  <div class="custom-control custom-checkbox mr-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Select</label>
                  </div> 
                </div>
              </div>
              <div class="user-box-content p-3">
                <div class="row">
                  <div class="col-lg-3 col-md-12"> 
                    <img src="assets/images/users/user13.jpg" class="emp-full-image"> 
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div>
                      <div class="f-14">
                        <span class="text-muted">Department :</span> <span>Software Engineer</span>
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Designation :</span> Information Technology
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Manager :</span> John Doe
                      </div> 
                      <div class="f-14">
                        <span class="text-muted">Email :</span> Johndoe@gmail.com
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Phone No :</span> 9632587410
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Address :</span> Flat S, XXX Street, YYYY Nagar, YYYY
                      </div>
                      <div class="f-14">
                        <span class="text-muted">City :</span> Chennai
                      </div>
                      <div class="f-14">
                        <span class="text-muted">State :</span> TamilNadu
                      </div>
                    </div>
                    <div class="d-flex justify-content-end my-2">
                      <button class="btn btn-outline-primary btn-sm mr-1" type="button">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <button class="btn btn-outline-info btn-sm mr-1" type="button">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button class="btn btn-outline-danger btn-sm mr-1" type="button">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                      <button class="btn btn-outline-warning btn-sm" type="button">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>     
              </div>
            </div>
          </div> <!--/col-lg-4 -->
          <div class="col-lg-4 col-md-4"> 
            <div class="user-box bg-white mat-elevation-z1">
              <div class="user-box-header p-3 border-bottom">
                <div class="d-flex justify-content-between width-full align-items-center">
                  <div class="mr-auto p-2">
                    <mat-card-title class="user-box-title">Ino</mat-card-title>
                    <mat-card-subtitle class="mb-0">Employee Id : 54682</mat-card-subtitle>
                  </div>                    
                  <button mat-icon-button color="warn" class="mr-1 mb-1">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                  <div class="custom-control custom-checkbox mr-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">Select</label>
                  </div> 
                </div>
              </div>
              <div class="user-box-content p-3">
                <div class="row">
                  <div class="col-lg-3 col-md-12"> 
                    <img src="assets/images/users/user15.jpg" class="emp-full-image"> 
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div>
                      <div class="f-14">
                        <span class="text-muted">Department :</span> <span>Software Engineer</span>
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Designation :</span> Information Technology
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Manager :</span> John Doe
                      </div> 
                      <div class="f-14">
                        <span class="text-muted">Email :</span> Johndoe@gmail.com
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Phone No :</span> 9632587410
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Address :</span> Flat S, XXX Street, YYYY Nagar, YYYY
                      </div>
                      <div class="f-14">
                        <span class="text-muted">City :</span> Chennai
                      </div>
                      <div class="f-14">
                        <span class="text-muted">State :</span> TamilNadu
                      </div>
                    </div>
                    <div class="d-flex justify-content-end my-2">
                      <button class="btn btn-outline-primary btn-sm mr-1" type="button">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <button class="btn btn-outline-info btn-sm mr-1" type="button">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button class="btn btn-outline-danger btn-sm mr-1" type="button">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                      <button class="btn btn-outline-warning btn-sm" type="button">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>     
              </div>
            </div>
          </div> <!--/col-lg-4 -->
          <div class="col-lg-4 col-md-4"> 
            <div class="user-box bg-white mat-elevation-z1">
              <div class="user-box-header p-3 border-bottom">
                <div class="d-flex justify-content-between width-full align-items-center">
                  <div class="mr-auto p-2">
                    <mat-card-title class="user-box-title">Doe</mat-card-title>
                    <mat-card-subtitle class="mb-0">Employee Id : 54682</mat-card-subtitle>
                  </div>                    
                  <button mat-icon-button color="warn" class="mr-1 mb-1">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                  <div class="custom-control custom-checkbox mr-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">Select</label>
                  </div> 
                </div>
              </div>
              <div class="user-box-content p-3">
                <div class="row">
                  <div class="col-lg-3 col-md-12"> 
                    <img src="assets/images/users/user16.jpg" class="emp-full-image"> 
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div>
                      <div class="f-14">
                        <span class="text-muted">Department :</span> <span>Software Engineer</span>
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Designation :</span> Information Technology
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Manager :</span> John Doe
                      </div> 
                      <div class="f-14">
                        <span class="text-muted">Email :</span> Johndoe@gmail.com
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Phone No :</span> 9632587410
                      </div>
                      <div class="f-14">
                        <span class="text-muted">Address :</span> Flat S, XXX Street, YYYY Nagar, YYYY
                      </div>
                      <div class="f-14">
                        <span class="text-muted">City :</span> Chennai
                      </div>
                      <div class="f-14">
                        <span class="text-muted">State :</span> TamilNadu
                      </div>
                    </div>
                    <div class="d-flex justify-content-end my-2">
                      <button class="btn btn-outline-primary btn-sm mr-1" type="button">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <button class="btn btn-outline-info btn-sm mr-1" type="button">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button class="btn btn-outline-danger btn-sm mr-1" type="button">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                      <button class="btn btn-outline-warning btn-sm" type="button">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>     
              </div>
            </div>
          </div> <!--/col-lg-4 --> 
        </div> <!--/row-->

      </div> <!--/col-lg-12 col-md-12-->

      <div class="col-lg-12 col-md-12">
        <div class="">
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
      </div>

      <!--/ UnGrid end-->
    </div> <!--/panel-->
  </div>

 