<!-- <div class="card">
  <div class="card-header docs-primary-header" style="text-align: center;padding: 0.25rem 1.25rem;text-align: center;color: white;">
      Add Supplier
    </div>
<div class="card-body">
  <div class="row">

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="supplier.SName" name="supplierName" matInput placeholder ="SupplierName" >
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="supplier.GSTNo" name="GstNo" matInput placeholder="GST NO">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="supplier.Address" name="Address" matInput placeholder="Address">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="supplier.ContactNo" name="ContactNo"  (keypress)="onlyNumber($event)" matInput placeholder="Contact No" maxlength="10">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="text-align: right">
      <div>
        <button mat-raised-button color="warn" (click)="supplierinsert()">Save</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="accent" (click)="Close()" >Cancel</button>
      </div>
    </div>
  </div>
</div>
</div> -->