@import '~@angular/material/theming';
@include mat-core();

// Typography
// $custom-typography: mat-typography-config(
//   $font-family: Raleway,
//   $headline: mat-typography-level(24px, 48px, 400),
//   $body-1: mat-typography-level(16px, 24px, 400)
// );
// @include angular-material-typography($custom-typography);

// Default colors -- Red theme
// $my-app-primary: mat-palette($mat-indigo, A200, A100, A400);
// $my-app-accent:  mat-palette($mat-green, 700, 100, 800);
// $my-app-warn:    mat-palette($mat-cyan, 800);
// $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
$my-app-primary: mat-palette($mat-cyan, 700, 500, 300);
$my-app-accent:  mat-palette($mat-purple, 700, 100, 800);
$my-app-warn:    mat-palette($mat-pink, 800);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
.mat-header-cell{ color: mat-color($mat-grey, 50); }
.mat-header-row, .normal-table-header { 
    background-color: mat-color($my-app-primary, 700); 
}
.docs-primary-header{ 
    background-color: mat-color($my-app-primary, 700);
    box-shadow: 1px 0px 2px 0px mat-color($my-app-primary, 700);
}
.docs-primary-header h1{ color: #fff; }
.default-theme-selector { background-color: mat-color($mat-cyan, 700) !important;}

.mat-calendar-header {
    background-color: mat-color($my-app-primary, 700);
    color: white;
}
// Blue colors theme
$blue-primary: mat-palette($mat-indigo, 700, 500, 300);
$blue-accent: mat-palette($mat-green, 700); 
$blue-warn: mat-palette($mat-cyan, 700); 

$blue-theme: mat-light-theme($blue-primary, $blue-accent, $blue-warn);
//cyan colors theme
$light-primary: mat-palette($mat-cyan, 700, 500, 300);
$light-accent: mat-palette($mat-purple, 400);
$light-warn: mat-palette($mat-pink, 600);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);


.blue-theme {
    @include angular-material-theme($blue-theme)
}
.blue-theme .mat-header-cell{ color: mat-color($mat-grey, 50); }
.blue-theme .mat-header-row, .blue-theme .normal-table-header{ 
    background-color: mat-color($mat-indigo, 700); 
}
.blue-theme .docs-primary-header{ 
    background-color: mat-color($mat-indigo, 700);
    box-shadow: 1px 0px 2px 0px mat-color($mat-indigo, 700);
}
.blue-theme-selector { background-color: mat-color($mat-indigo, 700) !important;}
.blue-theme .mat-calendar-header {
    background-color: mat-color($mat-indigo, 700);
    color: white;
}

// Dark theme
$dark-primary: mat-palette($mat-grey, 700);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-teal, 600);

$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
    @include angular-material-theme($dark-theme);
}
.dark-theme .mat-form-field-label{ color: mat-color($mat-grey, 800); }
.dark-theme .mat-form-field-underline { background-color: mat-color($mat-grey, 600); }
.dark-theme .mat-row:hover { background-color: #f5f5f50d;}
.dark-theme .edit-mattable .mat-form-field-label{ color: mat-color($mat-grey, 100); } 
.dark-theme .docs-primary-header{ 
    background-color: mat-color($mat-grey, 700);
    box-shadow: 1px 0px 2px 0px mat-color($mat-grey, 700);
}
.dark-theme-selector { background-color: mat-color($mat-grey, 700) !important;}
.dark-theme .mat-card-subtitle { color: rgba(0, 0, 0, 0.54);}
.dark-theme .normal-table {
    background-color: mat-color($mat-grey, 800);
}
.dark-theme .normal-table tr td, .dark-theme .normal-table .mat-form-field-label {
    color: mat-color($mat-grey, 50);
}
.dark-theme .normal-table td, .normal-table th{ border-top: 1px solid #dee2e633;}
.dark-theme .underline-none .mat-form-field-label{ color: mat-color($mat-grey, 500); }
.dark-theme .underline-none .mat-input-wrapper .mat-form-field-underline{ background-color: mat-color($mat-grey, 800); }

.dark-theme .mat-calendar-header {
    background-color: mat-color($mat-grey, 700);
    color: white;
}
// Light theme
$light-primary: mat-palette($mat-pink, 700, 500, 300);
$light-accent: mat-palette($mat-pink, 400);
$light-warn: mat-palette($mat-deep-orange, 600);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
    @include angular-material-theme($light-theme)
}
.light-theme .docs-primary-header{ 
    background-color: mat-color($mat-pink, 700);
    box-shadow: 1px 0px 2px 0px mat-color($mat-light-blue, 200);
}
.light-theme .mat-header-cell{ color: mat-color($mat-grey, 50); }
.light-theme .mat-header-row, .light-theme .normal-table-header{ 
    background-color: mat-color($mat-pink, 700); 
}
.light-theme-selector { background-color: mat-color($mat-pink, 700) !important;}

.light-theme .mat-calendar-header {
    background-color: mat-color($mat-pink, 700); 
    color: white;
}