<div class="wrapper">
  <nav class="navbar navbar-expand-lg docs-primary-header" style="height:45px;box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
    <div class="container-fluid">
      <button mat-icon-button class="mb-1" [routerLink]="['/View']">
        <i class="material-icons" style="color:rgb(255, 255, 255)">home</i>
      </button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <!-- <nav style="background-color: #f5f5f5;box-shadow:none;border:none" role="navigation"> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="nav">
                <div>
                  <!-- <li class="nav-item ">
                <a class="nav-link " style="color:white;font-size:11px;padding-top:10px" role="button">
                  <i class="fa fa-home" aria-hidden="true"></i>
                </a>
              </li> -->
                </div>
                <div>
                  <span *ngFor="let item of navItems">
                    <span *ngIf="item.SubMenuItems && item.SubMenuItems.length > 0">
                      <button mat-flat-button [disableRipple]="true" [matMenuTriggerFor]="menu.childMenu" style="color: rgb(248, 246, 246);font-size: 11px;margin: -10px;" class="navbar navbar-expand-lg docs-primary-header" >
                        <i class="fa fa-bolt" aria-hidden="true"></i> &nbsp;
                        <b>{{item.MenuName}}</b>
                        <mat-icon style="font-size: 15px">expand_more</mat-icon>
                      </button>
                      <app-child-menu-items #menu [items]="item.SubMenuItems"></app-child-menu-items>
                    </span>
                    <span *ngIf="!item.SubMenuItems || item.SubMenuItems.length === 0"> &nbsp;
                      <button mat-button color="primary">
                        {{item.MenuName}}
                      </button>
                    </span>
                  </span>
                </div>
              </ul>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- </nav> -->
          </li>
        </ul>
        <ul class="nav justify-content-end">
          <li class="nav-item dropdown">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <i class="material-icons" style="color:white">format_color_fill</i>
            </button>
            <mat-menu #menu="matMenu" class="docs-theme-picker-menu">
              <div class="d-flex justify-content-around my-2">
                <button mat-mini-fab class="default-theme-selector" (click)="onSetTheme('default-theme')" matTooltip="Default Theme"></button>
                <button mat-mini-fab class="blue-theme-selector" (click)="onSetTheme('blue-theme')" matTooltip="Blue Theme"></button>
              </div>
              <div class="d-flex justify-content-around my-2">
                <button mat-mini-fab class="dark-theme-selector" (click)="onSetTheme('dark-theme')" matTooltip="Dark Theme"></button>
                <button mat-mini-fab class="light-theme-selector" (click)="onSetTheme('light-theme')" matTooltip="Light Theme"></button>
                <!-- <button mat-mini-fab class="pink-theme-selector" (click)="onSetTheme('pink-theme')" matTooltip="pink Theme"></button> -->

              </div>
            </mat-menu>
          </li>

          <li class="nav-item">
            <button mat-icon-button  [routerLink]="['/']" class="nav-link">
              <i class="fas fa-power-off" style="color:white"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <!--/ navbar end end-->

    <router-outlet></router-outlet>

</div>