<div class="docs-primary-header component-page-header">
  <div class="container">
    <h1>UOM
    </h1>
  </div>
</div>
<br>
<br>
<div class="container" style="padding-left: 15%;padding-right: 5%" *ngIf="show">
  <form class="form">
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="UOMCode" [(ngModel)]="model.UOMCode" name="UOMCode" required>
          <mat-error> UOMCode required</mat-error>
        </mat-form-field>
       
      </div>
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="UOMName" [(ngModel)]="model.UOMName" name="UOMName" required>
          <mat-error> UOMName required</mat-error>
        </mat-form-field>
      </div>
    
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Multifier" [(ngModel)]="model.Multifier" name="Multifier" required>
          <mat-error> Multifier required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="BaseUnit" [(ngModel)]="model.BaseUnit" name="BaseUnit" required>
          <mat-error> BaseUnit required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="btn">
    <button (click)="saveUOM()" mat-raised-button color="primary">Save</button>&nbsp;
    <button (click)="Cancel()" mat-raised-button color="warn">Cancel</button>
  </div>
</div>
<!-- Table Start -->
<br>
<br>
<div *ngIf=!show>
  <div class="docs-primary-header component-page-header">

  </div>


  <div class="container-fluid" id="fixedpage" style="padding-left:5%;padding-right:5%">

    <div class="row" style="margin-top:3%">
      <div class="col-sm-8" style="padding-left:30px">
        <div class="input-group ht-41">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-empty">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input type="text" class="form-control text-box-empty" placeholder="Global Filter (Type Code, Name of the Company..)" (keyup)="applyFilter($event.target.value)">
        </div>
      </div>
      <div class="col-sm-4" style="text-align:right;padding-right:30px" [routerLink]="['/product']">
        <div>
          <button mat-raised-button (click)="addArea()" color="warn">
            <mat-icon>add</mat-icon>New
          </button>
        </div>
      </div>
    </div>
    <br>

    <div class="table-container mat-elevation-z2">
      <mat-table class="color-table" #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="SNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            SNo
            <button mat-icon-button [matMenuTriggerFor]="SNoFilter" class="Filter-icon-WT">
              <mat-icon aria-label="SNo Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #SNoFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search SNo" (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)" autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data;let i= index"> {{i+1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UOMCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            UOMCode
            <button mat-icon-button [matMenuTriggerFor]="UOMCodeFilter" class="Filter-icon-WT">
              <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #UOMCodeFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search UOMCode." (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)"
                    autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.UOMCode}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UOMName">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            UOMName
            <button mat-icon-button [matMenuTriggerFor]="UOMNameFilter" class="Filter-icon-WT">
              <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #UOMNameFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search UOMName." (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)" autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data"> {{data.UOMName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Multifier">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            Multifier
            <button mat-icon-button [matMenuTriggerFor]="MultifierFilter" class="Filter-icon-WT">
              <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #MultifierFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search Multifier." (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)" autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data"> {{data.Multifier}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="BaseUnit">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            BaseUnit
            <button mat-icon-button [matMenuTriggerFor]="BaseUnitFilter" class="Filter-icon-WT">
              <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #BaseUnitFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search BaseUnit." (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)"
                    autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.BaseUnit}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="color-white">Action</mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.action}}
            <button mat-icon-button color="primary" matTooltip="Edit This Row" [matTooltipClass]="'custom-tip'">
              <mat-icon aria-label="Edit Row" (click)="updateUOM(data,true)" class="f-18">
                edit
              </mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Delete This Row" [matTooltipClass]="'custom-tip'">
              <mat-icon aria-label="Add" class="f-18" (click)="deleteUOM(data)">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;let i=index" (click)="selection.toggle(row)">
        </mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

  </div>


  <div class="fixedIconBottom">
    <button mat-mini-fab class="default-btn" color="warn" (click)="onClick()" id="fixedBotButton">
      <span class="fullscreen-icon" (click)="FScreenIcon = !FScreenIcon">
        <i class="fa" [ngClass]="!FScreenIcon?'fa-arrows-alt':'fa-compress'"></i>
      </span>
    </button>
  </div>
</div>


