<div class="docs-primary-header component-page-header">
  <div class="container">
    <h1>Human Resource > Designation > List of Designations</h1>
  </div>
</div>

<div class="container-fluid" id="fixedpage" style="padding-left:5%;padding-right:5%">

  <div class="row" style="margin-top:3%">
    <div class="col-sm-8" style="padding-left:30px">
      <div class="input-group ht-41">
        <div class="input-group-prepend">
          <span class="input-group-text input-group-empty">
            <i class="fa fa-search"></i>
          </span>
        </div>
        <input type="text" class="form-control text-box-empty" placeholder="Global Filter (Type Code, Name of the Company..)" (keyup)="applyFilter($event.target.value)">
      </div>
    </div>
    <div class="col-sm-4" style="text-align:right;padding-right:30px">
      <div>
        <button mat-raised-button (click)="AddDesignationdetails(false)" color="warn">
          <mat-icon>add</mat-icon>New
        </button>
      </div>
    </div>
  </div>
  <br>

    
 
    <!--/ table start-->
    <div class="col-lg-12 col-md-12">
      <!--/ table start-->
      <div class="table-container mat-elevation-z2"> 
        <mat-table class="color-table" #table [dataSource]="dataSource" matSort>
          
          <ng-container matColumnDef="SNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
             SNo 
              <button mat-icon-button [matMenuTriggerFor]="SNoFilter" class="Filter-icon-WT">
                <mat-icon aria-label="SNo Filter">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #SNoFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before"> 
                <div class="info-wrapper menuPop">
                  <mat-form-field class="w-100 input-label">
                    <input matInput placeholder="Search SNo" (click)="handleClick($event)"
                      (keyup)="applyFilter($event.target.value)" autofocus> 
                  </mat-form-field> 
                  <div class="ta-w">
                    <button mat-mini-fab color="warn" class="satPop-ok">
                      <mat-icon aria-label="Close">close</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-menu>  
            </mat-header-cell>
            <mat-cell *matCellDef="let element;let i=index;"> {{i+1}} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="Code">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white"> 
              Code 
              <button mat-icon-button [matMenuTriggerFor]="EmpFilter" class="Filter-icon-WT">
                <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #EmpFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">  
                <div class="info-wrapper menuPop">
                  <mat-form-field class="w-100 input-label">
                    <input matInput placeholder="Search Code." (click)="handleClick($event)"
                      (keyup)="applyFilter($event.target.value)" autofocus> 
                  </mat-form-field>
                  <div class="ta-w">
                    <button mat-mini-fab color="warn" class="satPop-ok">
                      <mat-icon aria-label="Close">close</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-menu>  
            </mat-header-cell>
            <mat-cell *matCellDef="let ListDesignation"> {{ListDesignation.DesignationCode}} </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="DesignationName">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
                DesignationName
              <button mat-icon-button [matMenuTriggerFor]="DesignationNameFilter" class="Filter-icon-WT">
                <mat-icon aria-label="Phone Filter">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #DesignationNameFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">  
                <div class="info-wrapper menuPop">
                  <mat-form-field class="w-100 input-label">
                    <input matInput placeholder="Search DesignationName." (click)="handleClick($event)"
                      (keyup)="applyFilter($event.target.value)" autofocus> 
                  </mat-form-field> 
                  <div class="ta-w">
                    <button mat-mini-fab color="warn" class="satPop-ok">
                      <mat-icon aria-label="Close">close</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-menu> 
            </mat-header-cell>
            <mat-cell *matCellDef="let ListDesignation"> {{ListDesignation.DesignationName}} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="Superior">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
                  ReportingTo
                <button mat-icon-button [matMenuTriggerFor]="ReportingToFilter" class="Filter-icon-WT">
                  <mat-icon aria-label="Phone Filter">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #ReportingToFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">  
                  <div class="info-wrapper menuPop">
                    <mat-form-field class="w-100 input-label">
                      <input matInput placeholder="Search ReportingTo." (click)="handleClick($event)"
                        (keyup)="applyFilter($event.target.value)" autofocus> 
                    </mat-form-field> 
                    <div class="ta-w">
                      <button mat-mini-fab color="warn" class="satPop-ok">
                        <mat-icon aria-label="Close">close</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-menu> 
              </mat-header-cell>
              <mat-cell *matCellDef="let ListDesignation"> {{ListDesignation.SuperiorName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="DepartmentId">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
                    NameOfDepartment
                  <button mat-icon-button [matMenuTriggerFor]="NameOfDepartmentFilter" class="Filter-icon-WT">
                    <mat-icon aria-label="Phone Filter">keyboard_arrow_down</mat-icon>
                  </button>
                  <mat-menu #NameOfDepartmentFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">  
                    <div class="info-wrapper menuPop">
                      <mat-form-field class="w-100 input-label">
                        <input matInput placeholder="Search NameOfDepartment." (click)="handleClick($event)"
                          (keyup)="applyFilter($event.target.value)" autofocus> 
                      </mat-form-field> 
                      <div class="ta-w">
                        <button mat-mini-fab color="warn" class="satPop-ok">
                          <mat-icon aria-label="Close">close</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-menu> 
                </mat-header-cell>
                <mat-cell *matCellDef="let ListDesignation"> {{ListDesignation.Department.DepartmentName}} </mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="CompanyId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
                      NameOfCompany
                    <button mat-icon-button [matMenuTriggerFor]="NameOfCompanyFilter" class="Filter-icon-WT">
                      <mat-icon aria-label="Phone Filter">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #NameOfCompanyFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">  
                      <div class="info-wrapper menuPop">
                        <mat-form-field class="w-100 input-label">
                          <input matInput placeholder="Search NameOfCompany" (click)="handleClick($event)"
                            (keyup)="applyFilter($event.target.value)" autofocus> 
                        </mat-form-field> 
                        <div class="ta-w">
                          <button mat-mini-fab color="warn" class="satPop-ok">
                            <mat-icon aria-label="Close">close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </mat-menu> 
                  </mat-header-cell>
                  <mat-cell *matCellDef="let ListDesignation"> {{ListDesignation.Company.CompanyName}} </mat-cell>
                </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="color-white">Action</mat-header-cell>
            <mat-cell *matCellDef="let ListDesignation">
              <button mat-icon-button color="primary" (click)="editDesignation(true,ListDesignation)" matTooltip="Edit This Row" [matTooltipClass]="'custom-tip'">
                <mat-icon aria-label="Edit Row" class="f-18">
                  edit
                </mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="RemoveDesignation(ListDesignation)" matTooltip="Delete This Row" [matTooltipClass]="'custom-tip'">
                <mat-icon aria-label="Add" class="f-18">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row;let i=index; columns: displayedColumns;" 
              (click)="selection.toggle(row)">
          </mat-row>
        </mat-table>

        <mat-paginator #paginator
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 20]"
            [showFirstLastButtons]="true">
        </mat-paginator>
      </div> 
      <!--/ table start-->
    </div>    </div>