<div class="docs-primary-header component-page-header">
  <div class="container">
    <h1 *ngIf="!isEditing">Administrator > Location > Add New City </h1>
    <h1 *ngIf="isEditing">Administrator > Location > Update Existing City </h1>
  </div>
</div>
<div class="container-fluid" id="fixedpage" style="padding-left:15%;padding-right:15%">

  <div class="row" style="margin-top:3%">
    <div class="col-sm-10">

    </div>
    <div class="col-sm-2" style="text-align:right">
      <div>
        <button mat-raised-button  (click)="backCityListForm()" color="warn">
          <mat-icon>list</mat-icon>View
        </button>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header docs-primary-header" style="padding:4px;padding-left:5px;color:white">
      <div class="row">
        <div class="col-sm-10">
        <h1 *ngIf="!isEditing">Create City</h1>  
        <h1 *ngIf="isEditing">Update City</h1>  
        </div>

      </div>

    </div>
    <div class="card-body">
      <div class="card" style="border-radius:0px">
        <div class="card-body" style="padding:4px">
          <form [formGroup]="signUpForm" class="form">
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field  class="example-full-width">
                  <mat-select placeholder="Country Name" (change)="GetStateName(CityModel.CountryId)" [(ngModel)]="CityModel.CountryId" required formControlName="CountryName">
                 <mat-option *ngFor="let i of CountryIdName" [value]="i.CountryId" >{{i.CountryName}}

                 </mat-option>
               
                  </mat-select>
                  <mat-error> CountryName required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="State Name"  [(ngModel)]="CityModel.StateId" required formControlName="StateName">
                      <mat-option *ngFor="let i of StateIdName" [value]="i.StateId"  >
                        {{i.StateName}}</mat-option>
                    
                       </mat-select>
                       <mat-error> StateName required</mat-error>
              </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="CityName"  [(ngModel)]="CityModel.CityName" required placeholder="City Name">
                  <mat-error> CityName required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6" style="text-align: right;padding-top:10px">
                <div>
                  <button *ngIf="!isEditing" mat-raised-button color="primary"  (click)="SaveCity()">Save</button>&nbsp;
                  <button *ngIf="isEditing" mat-raised-button color="primary"  (click)="SaveCity()">Update</button>&nbsp;
                    <button mat-raised-button color="warn" (click)="backCityListForm()">Cancel</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>