
<div class="docs-primary-header component-page-header">
  <div class="container">
    <h1>Customer Master
    </h1>
  </div>
</div>
<br>
<br>
<div class="container" style="padding-left: 15%;padding-right: 5%" *ngIf="show">
  <form class="form">
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="CustomerCode" [(ngModel)]="model.CustCode" name="CustCode" required>
          <mat-error> CustomerCode required</mat-error>
        </mat-form-field>
       
      </div>
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="CustomerName" [(ngModel)]="model.CustName" name="CustName"  required>
          <mat-error> CustomerName required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="CustomerAddress" [(ngModel)]="model.CustAddress" name="CustAddress" required>
          <mat-error> CustomerAddress required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="CustomerContact" [(ngModel)]="model.CustContact" name="CustContact" required>
          <mat-error> CustomerContact required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="CustomerEmail" [(ngModel)]="model.CustEmail" name="CustEmail" required>
          <mat-error> CustomerEmail required</mat-error>
        </mat-form-field>
      </div>
    
      <div class="col-sm-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="GSTNo" [(ngModel)]="model.GSTNo" name="GSTNo" required>
          <mat-error> GSTNo required</mat-error>
        </mat-form-field>
      </div>
    </div>
      <div class="row">
          <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                  <mat-select name="CountryName" [(ngModel)]="model.CustCountry" (ngModelChange)="getStateName(model.CustCountry)" required placeholder="Country Name">
                    <mat-option *ngFor="let i of CountryIdName" [value]="i.CountryId">{{i.CountryName}}</mat-option>
                 
                  </mat-select>
                  <mat-error> CountryName required</mat-error>
                </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                  <mat-select name="StateName" [(ngModel)]="model.CustState"  (ngModelChange)="getCityName(model.CustState) "required placeholder="State Name">
                    <mat-option *ngFor="let S of stateData" [value]="S.StateId">{{S.StateName}}</mat-option>
                   
                  </mat-select> <mat-error> StateName required</mat-error>
                </mat-form-field>
          </div>
      <div class="col-sm-4">
       
        <mat-form-field class="example-full-width">
            <mat-select name="CityName" [(ngModel)]="model.CustCity" required placeholder="City Name">
              <mat-option *ngFor="let C of cityData" [value]="C.CityId">{{C.CityName}}</mat-option>
            </mat-select>
             <mat-error> CityName required</mat-error>
             </mat-form-field>
      </div>
      
     
    </div>
  </form>

  <div class="btn">
    <button (click)="saveCustomer()" mat-raised-button color="primary">Save</button>&nbsp;
    <button (click)="Cancel()" mat-raised-button color="warn">Cancel</button>
  </div>
</div>

<br>
<br>
<div *ngIf=!show>
  <div class="docs-primary-header component-page-header">

  </div>


  <div class="container-fluid" id="fixedpage" style="padding-left:5%;padding-right:5%">

    <div class="row" style="margin-top:3%">
      <div class="col-sm-8" style="padding-left:30px">
        <div class="input-group ht-41">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-empty">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input type="text" class="form-control text-box-empty" placeholder="Global Filter (Type Code, Name of the Company..)" (keyup)="applyFilter($event.target.value)">
        </div>
      </div>
      <div class="col-sm-4" style="text-align:right;padding-right:30px" [routerLink]="['/product']">
        <div>
          <button mat-raised-button (click)="addArea()" color="warn">
            <mat-icon>add</mat-icon>New
          </button>
        </div>
      </div>
    </div>
    <br>

    <div class="table-container mat-elevation-z2">
      <mat-table class="color-table" #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="SNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            SNo
            <button mat-icon-button [matMenuTriggerFor]="SNoFilter" class="Filter-icon-WT">
              <mat-icon aria-label="SNo Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #SNoFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search SNo" (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)" autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data;let i= index"> {{i+1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CustomerCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            CustomerCode
            <button mat-icon-button [matMenuTriggerFor]="CustomerCodeFilter" class="Filter-icon-WT">
              <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #CustomerCodeFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search CustomerCode." (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)"
                    autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.CustCode}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CustomerName">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            CustomerName
            <button mat-icon-button [matMenuTriggerFor]="CustomerNameFilter" class="Filter-icon-WT">
              <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #CustomerNameFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search CustomerName." (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)" autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data"> {{data.CustName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="CustomerAddress">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            CustomerAddress
            <button mat-icon-button [matMenuTriggerFor]="CustomerAddressFilter" class="Filter-icon-WT">
              <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #CustomerAddressFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search CustomerAddress." (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)" autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data"> {{data.CustAddress}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="CustomerContact">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            CustomerContact
            <button mat-icon-button [matMenuTriggerFor]="CustomerContactFilter" class="Filter-icon-WT">
              <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #CustomerContactFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search CustomerContact." (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)"
                    autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.CustContact}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="CustomerEmail">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            CustomerEmail
            <button mat-icon-button [matMenuTriggerFor]="CustomerEmailFilter" class="Filter-icon-WT">
              <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #CustomerEmailFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search CustomerEmail." (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)" autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.CustEmail}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="GSTNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="inFilter color-white">
            GSTNo
            <button mat-icon-button [matMenuTriggerFor]="GSTNoFilter" class="Filter-icon-WT">
              <mat-icon aria-label="Area Filter">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #GSTNoFilter="matMenu" yPosition="below" [overlapTrigger]="false" xPosition="before">
              <div class="info-wrapper menuPop">
                <mat-form-field class="w-100 input-label">
                  <input matInput placeholder="Search GSTNo." (click)="handleClick($event)" (keyup)="applyFilter($event.target.value)"
                    autofocus>
                </mat-form-field>
                <div class="ta-w">
                  <button mat-mini-fab color="warn" class="satPop-ok">
                    <mat-icon aria-label="Close">close</mat-icon>
                  </button>
                </div>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.GSTNo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="color-white">Action</mat-header-cell>
          <mat-cell *matCellDef="let data">{{data.action}}
            <button mat-icon-button color="primary" matTooltip="Edit This Row" [matTooltipClass]="'custom-tip'">
              <mat-icon aria-label="Edit Row" (click)="updateCustomers(data,true)" class="f-18">
                edit
              </mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Delete This Row" [matTooltipClass]="'custom-tip'">
              <mat-icon aria-label="Add" class="f-18" (click)="deleteCustomers(data)">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;let i=index" (click)="selection.toggle(row)">
        </mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

  </div>


  <div class="fixedIconBottom">
    <button mat-mini-fab class="default-btn" color="warn" (click)="onClick()" id="fixedBotButton">
      <span class="fullscreen-icon" (click)="FScreenIcon = !FScreenIcon">
        <i class="fa" [ngClass]="!FScreenIcon?'fa-arrows-alt':'fa-compress'"></i>
      </span>
    </button>
  </div>
</div>


